# Object file
/.settings/
.settings/*
/*/.settings
/*/.settings/*
/target/
tatget/*
/*/target/
/*/target/*
/.project
/.classpath
/*/.project
/*/.classpath
/.springBeans
/*/.springBeans

.project
.classpath
.springBeans
